<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./dist/style.css" rel="stylesheet">
    <script src="./dist/index.js"></script>
    <title>{%  block title %}{%  endblock %} - Apérouille</title>
    <style>
        {%  block style %}{%  endblock %}
    </style>
</head>
<body>
    {% block content %}{% endblock %}
    <script>
        {%  block script %}{%  endblock %}
    </script>
</body>
</html>